@page "/game"

@using MasterMind.Data;
@inject GameMaster GameMaster

<h1>Mastermind</h1>

<p><button class="btn btn-primary" @onclick="StartGame">New Game</button></p>

@if (_resultText != null)
{
    <p>
        <div class="alert alert-success" role="alert">
            @_resultText
        </div>
    </p>
}

@if (_moves == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th colspan="5" align="center" style="text-align:center;">Play Area</th>
                <th align="center" style="text-align:center;">Actions</th>
                <th colspan="5" align="center" style="text-align:center;">Result Area</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < _moves.Count; i++)
            {
                var move = _moves[i];
                <tr>

                    @if (i == _moves.Count - 1)
                    {

                        @for (int j = 0; j < 5; j++)
                        {
                            <td><ColorSelect Number="@j" SelectedColor="@move.GuessedColors[j]" OnChangeEvent="AddSelectedColor" /></td>
                        }
                        <td style="text-align:center;"><button class="btn btn-primary" @onclick="Evaluate">Evaluate</button></td>

                    }
                    else
                    {

                        @for (int j = 0; j < 5; j++)
                        {
                            <td><Peg Color=@move.GuessedColors[j].ToString() /></td>
                        }
                        <td></td>
                    }

                    @for (int k = 0; k < 5; k++)
                    {
                        <td><Peg Color=@move.MoveResult?.EvaluatedResultColors[k].ToString() /></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<Move> _moves;
    private string _resultText;
    private Move _currentMove => _moves.LastOrDefault();

    protected override Task OnInitializedAsync()
    {
        _moves = GameMaster.GetMoves();
        return Task.CompletedTask;
    }

    public void StartGame()
    {
        Reset();
        _moves.Add(GameMaster.StartGame());
    }

    private void Reset()
    {
        _resultText = null;
        _moves.Clear();
    }

    public void Evaluate()
    {
        var spielzug = GameMaster.Evaluate(_moves.LastOrDefault().GuessedColors);
        if (spielzug == null)
        {
            _resultText = "Woohoo, you won!";
            return;
        }
        _moves.Add(spielzug);
    }

    public void AddSelectedColor(KeyValuePair<int, GameColors> keyValuePair)
    {
        _currentMove.GuessedColors[keyValuePair.Key] = keyValuePair.Value;
    }
}
