@using MasterMind.Data;

    <select @onchange="OnSelectionChanged" id="@Number" style="background-color:@GewählteFarbe.ToString().ToLower();width:35px;">
        @foreach (var item in Enum.GetNames(typeof(Farben)))
        {
            if (item == Farben.Undefined.ToString())
            {
                <option selected="@(GewählteFarbe.ToString() == item)" value=@item style="background-color:darkgray;">@item</option>
            }
            else
            {
                <option selected="@(GewählteFarbe.ToString() == item)" value=@item style="background-color:@item.ToLower();"></option>
            }
        }
    </select>

@code {
    [Parameter]
    public int Number { get; set; }
    [Parameter]
    public Farben GewählteFarbe { get; set; }
}

@functions {
    [Parameter]
    public EventCallback<KeyValuePair<int, Farben>> OnChangeEvent { get; set; }

    private void OnSelectionChanged(ChangeEventArgs e)
    {
        var farbe = (Farben)Enum.Parse(typeof(Farben), e.Value.ToString());
        GewählteFarbe = farbe;
        OnChangeEvent.InvokeAsync(new KeyValuePair<int, Farben>(Number, farbe));
    }
}
